.feedback {
  position: relative;
  padding: 170px 30px;
  padding-bottom: 248px;
  color: $color-default-white;
  background-color: $color-deep-sky-blue;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    width: 150%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-black-pearl, 0.5);
    transform: rotate(-41deg);
    transform-origin: left bottom;
    z-index: 1;
  }

  @media (min-width: $vp-1280) {
    padding-top: 166px;
  }

  @include vp-1023 {
    padding: 45px 50px;
    padding-bottom: 125px;

    &::before {
      display: none;
    }
  }

  @include vp-767 {
    padding: 47px 25px;
    padding-bottom: 91px;
  }
}

.feedback__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1220px;
  background-image: url("../img/decorative/airplane.png");
  background-repeat: no-repeat;
  background-size: 37% auto;
  background-position: 0 80px;
  z-index: 2;

  @supports (background-image: url("../img/decorative/airplane.webp")) {
    background-image: url("../img/decorative/airplane.webp");
  }

  @include retina {
    background-image: url("../img/decorative/airplane@2x.jpg");

    @supports (background-image: url("../img/decorative/airplane@2x.webp")) {
      background-image: url("../img/decorative/airplane@2x.webp");

      @include vp-1023 {
        background-image: none;
      }
    }
  }

  @media (min-width: $vp-1280) {
    background-size: 42% auto;
  }

  @include vp-1023 {
    background-image: none;
  }

  @include vp-767 {
    min-width: 270px;
  }
}

.feedback__inner {
  margin-left: auto;
  margin-right: 10px;
  width: 580px;

  @include vp-1023 {
    margin: 0;
    width: 100%;
  }
}

.feedback h2 {
  margin: 0;
  margin-bottom: 12px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback p {
  margin: 0;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 22px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 19px;
  }
}

.feedback__form {
  width: 580px;

  @include vp-1023 {
    width: 100%;
  }
}
