.main__promo {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 79px;
  }

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.main__advantages {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 79px;
  }

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.main__company {
  margin-bottom: 96px;

  @include vp-1023 {
    margin-bottom: 79px;
  }

  @include vp-767 {
    margin-bottom: 82px;
  }
}
